.cta_feld {
  background: #f6e9e8;
  color: #707070;

  font-family: century-gothic,sans-serif;
  font-weight: 400;
  font-style: normal;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.button {
background: #da9abd;
color: white;
font-size: 1.5rem;
margin: 4rem 0 6rem 0;
padding: 0.5rem 2rem;
border-radius: 4rem;
}

.leaf_2 {
  width: 12rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}

.leaf_3 {
  width: 8rem;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}


@media (max-width: 1000px) 
{
  .leaf_2 {
    width: 11rem;
    bottom: 0.5rem;
  }

  .button {
    font-size: 1.3rem;
    margin: 3.5rem 0 5.5rem 0;
    }
}


@media (max-width: 800px) 
{
  .leaf_2 {
    display: none;
  }
  
  .leaf_3 {
    display: none;
  }

  .button {
    font-size: 1.2rem;
    margin: 3rem 0 5rem 0;
    }
}


@media (max-width: 650px) 
{
  .leaf_2 {
    width: 9rem;
  }

  .button {
    font-size: 1rem;
    margin: 2.5rem 0 4.5rem 0;
    }
}


@media (max-width: 500px) 
{
  .button {
    font-size: 0.8rem;
    margin: 2rem 0 3rem 0;
  }
}